@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.background{
    position: relative;
    width: 2000px;
    z-index: 15;
}

.mountain1{
    position: absolute;
    bottom: -130px;
    width: 2000px;
    right: 0;
    z-index: 18;
}
.frederik{
    width: 370px;
    bottom: 0;
    left: 27%;
    position: absolute;
    z-index: 19;
}

.anders{
    width: 360px;
    bottom: 0;
    left: 37%;
    position: absolute;
    z-index: 20;

}
.tobias{
    width: 290px;
    bottom: 0;
    left: 48%;
    position: absolute;
    z-index: 19;

}
.mathias{
    width: 385px;
    bottom: 0;
    left: 55%;
    position: absolute;
    z-index: 19;


}
.person{
    position: absolute;
    width: 200px;
    bottom: 200px;
    left: 0;
    z-index: 20;
}

.mountain2{
    position: absolute;
    width: 220px;
    bottom: 150px;
    right: 10%;
    z-index: 20;
}

.mountain3{
    position: absolute;
    width: 450px;
    bottom: 200px;
    right: 0;
    z-index: 19;
}

.sky{
    position: absolute;
    width: 150px;
    bottom: 250px;
    left: 5%;
    z-index: 20;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba( 0, 0, 0, 0.05), transparent)
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    position: relative;
    width: 20%;
    margin-left: -20%;
    opacity: 75%;
}

.logo span{
    font-weight: 300;
}

.hamburger-menu{
    width: 1.55rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.bar{
    position: relative;
    width: 1.2rem; 
    height: 3px;
    background-color: #151515;
    border-radius: 2px;
    opacity: 85%;
   
}

.bar:before, .bar:after{
    content: '';
    position: absolute;
    width: 1.55rem;
    height: 3px;
    right: 0;
    background-color: #151515;
    border-radius: 2px;
  
}

.bar:before{
    transform: translateY(-8px);
}

.bar:after{
    transform: translateY(8px);
}

.big-title{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(38% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #151515;
}
.big-p{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(43% - 0rem);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #151515;
    
}

section{
    width: 100%;
    background-color: #151515;
    position: relative;
}

section .container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img{
    width: 100%;
}

section .container > *{
    margin: 2rem;
}

.content{
    color: #fff;
    transform: translateY(-50px);
    padding-bottom: %;
}

.imgContainer{
    transform: translateY(50px);
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity{
    opacity: 0;
}


/* counter  */
.nimbus-title{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 2%;
}
.middle{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-10%);
  }
  .counting-sec{
    padding: 40px 0;
    padding-bottom: 70px;
    width: 100%;
    background: #151515
  }
  .inner-width{
    max-width: 1200px;
    margin: auto;
    display: flex;
  }
  .col{
    flex: 1;
    text-align: center;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  .col i{
    font-size: 40px;
    color: #fffafa;

  }
  .num{
    font-size: 40px;
    margin: 20px 0;
  }
  

@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }
}